.navbar-flex{
    display: flex;
    padding-top: 5px;
}

.navbar-logo{
    width: 55px;
    height: 60px;
    position: relative;
}

.navbar-components{
    margin-left: auto; 
    margin-right: 0;
    margin-top: 18px;
}

.navbar-components a{
    margin-left: 50px;
    font-size: 17px;
    font-family: 'Manrope', sans-serif;
    color: rgb(10, 4, 58);
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-components a:hover{
    color: rgb(255, 81, 0);
    text-decoration: none;
}

.invest-nav-link{
    border: 1px solid rgb(22, 2, 39);
    color: rgb(3, 3, 3) !important;
    padding: 7px 18px;
    border-radius: 5px;
    
}

.invest-nav-link:hover{
    background-color: rgb(22, 2, 39);
    color: rgb(255, 215, 35) !important;
    transition: 0.5s;
}

@media only screen and (max-width: 600px) {
    .navbar-components{
        display: none;
    }
    
}